@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/*
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
*/

$main-font: 'Poppins', 'Times New Roman', sans-serif;

$main-dark: #372E48;
$sec-dark: #4D4063;
$main-light: #9456FF;
$sec-light: #826CA6;

$white: #FFF;
$grey: #9d9d9d;