@import '../Utilities/variables.scss';

.database-content {
    display: flex;
    flex-direction: row;
}

.database-current {
    display: flex;
    flex-direction: row;
    color: $white;
    margin-block: 1.5rem;

    .text {
        background-color: $main-dark;
        padding: 0.5rem;
        min-width: 15rem;
        text-align: center;
        line-height: 2rem;
        height: 2rem;
        margin: 0;
    }

    .current {
        background-color: $sec-light;
        padding: 0.5rem;
        min-width: 18rem;
        text-align: center;
        margin: 0;
        line-height: 2rem;
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
    }

    input {
        background-color: $sec-light;
        padding: 0.5rem;
        min-width: 12rem;
        text-align: center;
        height: 2rem;
        padding: 0;
        outline: 0;
        box-shadow: none;
        margin: 0;
        border: 0;
        padding: 8px;

        &[type="text"] {
            box-shadow: 0 0 0.5rem $white inset;
            color: $white;
            font-size: 1rem;
            max-width: 5rem;

            &:focus {
                box-shadow: 0 0 0.5rem $main-light inset;
                background-color: lighten($sec-light, 10%);
                font-size: 1.3rem;
            }
        }

        &[type="submit"] {
            @include buttonStyling;
            height: 2.5rem;
            margin-top: 0.25rem;
            margin-left: 1rem;
        }
    }
}

.database-button {
    button, label {
        @include buttonStyling;

        display: inline-block;
        margin: 0.3rem;
        margin-inline: 0.5rem;
    
        &:hover {
            cursor: pointer;
        }
    
        &:active {
            background-color: darken($main-light, 10%);
        }
    }

    input {
        display: none;
    }
}

.database-info {
    background-color: $main-dark;
    margin: 1.2rem;
    max-width: 32.5rem;


    p {
        margin:0;
        padding-block: 1rem;
        color: $white;
        text-align: center;
        border-bottom: dashed $white 0.1rem;

        &:last-of-type {
            border: none;
        }
    }
}

@mixin coinStyle {
    color: $white;
    background-color: $main-dark;
    font-size: 1rem;
    min-width: 4rem;
    height: 2rem;
    margin: 0;
    text-align: center;
}

.coinButton {
    @include buttonStyling;
    margin-inline: 2.1rem;
}

.grayed {
    background-color: $grey;
    color: white;
    border: none;
}

#coinLayout {
    position: absolute;
    top: 29rem;
    background-color: fade-out($sec-light, 0.1);
    border-radius: 0.5rem;
    border: 0.2rem solid $main-dark;
    height: 25%;
    margin-block: auto;
    width: 80%;

    .entryHeader {
        display: flex;
        margin-inline: 1rem;

        h4 {
            margin-block: 0.5rem;
            color: $white;
            font-weight: 300;
        }
    }

    div {
        display: flex;
        width: auto;

        .titles {
            display: flex;
            flex-direction: column;
            p {

                width: 10rem;
                border-right: $main-light 0.1rem solid;
                border-radius: 0;

                @include coinStyle;
                background-color: $main-dark;
                border-right: 0.1rem solid $white; 
            }  
        }

        .info {
            display: flex;
            flex-direction: column;
            input {
                @include coinStyle;
                background-color: darken($white, 10%);
                color: black;
                border: 0;
                border-left: 0.1rem solid $main-dark;
                border-bottom: 0.1rem solid $main-dark;
                height: 1.95rem;
                width: 40vw;
                padding: 0;
                border-radius: 0;

                &:focus {
                    outline: none;
                    border:1px solid $main-light;
                    box-shadow: 0 0 1rem $sec-light;
                    font-size: 1.5rem;
                }
            }
        }
    }

    .button {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -1rem;

        input, button {
            @include buttonStyling;
            color: black;
            background-color: darken($white, 10%);
            box-shadow: 0 0 0.2rem $main-dark;
            font-size: 1rem;
            font-weight: 400;
            margin-inline: 2rem;
            margin-top: 1rem;

            &:hover {
                cursor: pointer;
                color: $main-light;
                background-color: $white;
            }
            
            &:active {
                background-color: darken($white,10%);
            }

            &:focus {
                outline-color: $main-light;
            }
        }
    }
}

.coinGrid {
    margin-left: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 11rem;
    height: 23rem;
    gap: 2rem 2rem;
    align-content: flex-start;
    border: $main-light solid 0.1rem;
    box-shadow: 0 0 1rem 0.1rem $main-dark;
    background-color: $sec-light;
    padding: 1rem;

    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 0.7rem;
    }
    
    &::-webkit-scrollbar-track {
        background-color: $white;
        border-radius: 2rem;
        background-clip: content-box;
        margin-bottom: 0.4rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $main-light;
        border-radius: 5rem;
        background-clip: content-box;

        &:hover {
            background-color: lighten($main-light, 10%);
        }
    }

    img {
        margin: 0;
        width: 4rem;
        height: 4rem;
        border-radius: 20%;
    }

    .grayedHover:hover {
        background-color: $white;
        box-shadow: 0 0 0.4rem 0.4rem $main-light;
        border-radius: 10%;
        cursor: pointer;
    }
}