@import '../Utilities/variables.scss';

.database-current {
    display: flex;
    flex-direction: row;
    color: $white;
    margin-block: 1.5rem;

    .text {
        background-color: $main-dark;
        padding: 0.5rem;
        min-width: 15rem;
        text-align: center;
        line-height: 2rem;
        height: 2rem;
        margin: 0;
    }

    .current {
        background-color: $sec-light;
        padding: 0.5rem;
        min-width: 18rem;
        text-align: center;
        margin: 0;
        line-height: 2rem;
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
    }

    input {
        background-color: $sec-light;
        padding: 0.5rem;
        min-width: 12rem;
        text-align: center;
        height: 2rem;
        padding: 0;
        outline: 0;
        box-shadow: none;
        margin: 0;
        border: 0;
        padding: 8px;

        &[type="text"] {
            box-shadow: 0 0 0.5rem $white inset;
            color: $white;
            font-size: 1rem;
            max-width: 5rem;

            &:focus {
                box-shadow: 0 0 0.5rem $main-light inset;
                background-color: lighten($sec-light, 10%);
                font-size: 1.3rem;
            }
        }

        &[type="submit"] {
            @include buttonStyling;
            height: 2.5rem;
            margin-top: 0.25rem;
            margin-left: 1rem;
        }
    }
}

.database-button {
    button, label {
        @include buttonStyling;

        display: inline-block;
        margin: 0.3rem;
        margin-inline: 0.5rem;
    
        &:hover {
            cursor: pointer;
        }
    
        &:active {
            background-color: darken($main-light, 10%);
        }
    }

    input {
        display: none;
    }
}

.database-info {
    background-color: $main-dark;
    margin: 1.2rem;
    max-width: 32.5rem;


    p {
        margin:0;
        padding-block: 1rem;
        color: $white;
        text-align: center;
        border-bottom: dashed $white 0.1rem;

        &:last-of-type {
            border: none;
        }
    }
}