@import '../Utilities/variables.scss';

.database-current {
    display: flex;
    flex-direction: row;
    color: $white;

    .text {
        background-color: $main-dark;
        padding: 0.5rem;
        min-width: 15rem;
        text-align: center;
    }

    .current {
        background-color: $sec-light;
        padding: 0.5rem;
        min-width: 18rem;
        text-align: center;
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
    }
}

.database-button {
    button, label {
        display: inline-block;
        text-align: center;
        font-family: $main-font;
        font-weight: 300;
        font-size: 0.9rem;
        color: $white;
        background-color: $main-light;
        border-radius: 0.5rem;
        min-width: 7.3rem;
        padding: 0.5rem;
        border-style: none;
        margin: 0.3rem;
        margin-inline: 0.5rem;
    
        &:hover {
            cursor: pointer;
        }
    
        &:active {
            background-color: darken($main-light, 10%);
        }
    }

    input {
        display: none;
    }
}

.database-info {
    background-color: $main-dark;
    margin: 1.2rem;


    p {
        margin:0;
        padding-block: 1rem;
        color: $white;
        text-align: center;
        border-bottom: dashed $white 0.1rem;

        &:last-of-type {
            border: none;
        }
    }
}