@import '../Utilities/variables.scss';


.header {
    display: flex;
    justify-content: space-between;
    min-width: 80vw;

    div {
        display: flex;
        align-items: center;

        button {
            @include buttonStyling;
            margin-inline: 0.2rem;
        }
    }   
}

@mixin coinStyle {
    color: $white;
    background-color: $main-dark;
    font-size: 1rem;
    min-width: 4rem;
    width: 100%;
    height: 2rem;
    margin: 0;
    text-align: center;
}

.transactionCoin {
    display:flex;
    flex-direction: column;
    margin-top: 1rem;

    .titles {
        display: flex;
        line-height: 2rem;

        p {
            @include coinStyle;
            background-color: $main-dark;
            border-right: 0.1rem solid $white; 

            &:first-of-type {
                border-top-left-radius: 0.5rem; 
            }

            &:last-of-type {
                border-top-right-radius: 0.5rem; 
                border: none;
            }
        }
        
    }

    .info {
        display: flex;
        line-height: 2rem;

        div {
            display: flex;
            width: 100%;

            img {
                max-width: 2rem;
                aspect-ratio: 1 / 1;
                border-bottom-left-radius: 0.5rem;
                background-color: $sec-light;

                &:hover {
                    cursor: pointer;
                }
            }

            p {
                @include coinStyle;
                background-color: $sec-light;

                &:hover {
                    cursor: pointer;
                }
            }

            div {
                display: flex;
                flex-direction: column;
                background-color: $sec-light;
                color: $white;
                width: 25%;

                .arrows {
                    width:100%;

                    &:hover {
                        cursor: pointer;
                        color: lighten($main-light, 10%);
                    }

                    &:active {
                        color: darken($main-light, 10%);
                    }
                }
            }
        }

        & > p {
            @include coinStyle;
            background-color: $sec-light;
            border-left: 0.1rem solid $white;

            &:last-of-type {
                border-bottom-right-radius: 0.5rem; 
            }
        }   
    }
}

.transactionStuff {
    display:flex;
    flex-direction: column;
    margin-top: 1rem;
    height: 75%;
    overflow-y: scroll;

    .titles {
        display:flex;
        line-height: 2rem;

        p {
            @include coinStyle;
            background-color: $main-dark;
            border-right: 0.1rem solid $white; 

            &:first-of-type {
                width: 1rem;
                border-top-left-radius: 0.5rem; 
            }

            &:last-of-type {
                border-top-right-radius: 0.5rem; 
                border: none;
            }
        }
    }

    .info {
        display: flex;
        line-height: 2rem;

        p {
            @include coinStyle;
            background-color: darken($white, 10%);
            color: black;
            border-left: 0.1rem solid $main-dark;

            &:first-of-type {
                width: 2rem;
                border: none;
                color: $soft-red;
                font-size: 2rem;
            }

            
        }  
    }
    
    .roundedCorners {
        p {
            &:first-of-type {
                border-bottom-left-radius: 0.5rem; 
            }

            &:last-of-type {
                border-bottom-right-radius: 0.5rem; 
            }
        }
    } 
    
    .sold {
        p {
            color: $soft-red;
            background-color: $light-red;
        }
    }

    #noData {
        @include coinStyle;
        background-color: darken($white, 10%);
        color: black;
        border-bottom-left-radius: 0.5rem; 
        border-bottom-right-radius: 0.5rem; 
        line-height: 2rem;

        &:hover {
            cursor: pointer;
            color: $main-light;
            background-color: $white;
        }

        &:active {
            background-color: darken($white,10%);
        }
    }

    #addingEntry {
        position: absolute;
        top: 65vh;
        background-color: $sec-light;
        border-radius: 0.5rem;
        border: 0.2rem solid $main-dark;
        height: 11rem;
        margin-block: auto;
        width: 80vw;

        .entryHeader {
            display: flex;
            justify-content: space-between;
            min-width: 70vw;
            margin-inline: 1rem;

            h4 {
                margin-block: 0.5rem;
                color: $white;
                font-weight: 300;
            }

            .sellRed {
                color: $soft-red;
                font-weight: 500;
            }
        }

        .titles {
            p {
                &:first-of-type {
                    border-top-left-radius: 0;
                }
    
                &:last-of-type {
                    border-top-right-radius: 0; 
                }
            }  
        }

        .info {

            /* SQUARED TWO */   
            #squaredTwo {
                visibility: hidden;
            }

            .squaredTwo {
                width: 4rem;
                height: 2rem;
                background: darken($white, 10%);
                position: relative;
            }

            .squaredTwo label {
                cursor: pointer;
            }

            .squaredTwo label:after {
                opacity: 0;
                content: 'X';
                color: $soft-red;
                position: absolute;
                font-size: 2rem;
                background: transparent;
                left: 0;
                width: 4rem;
                text-align: center;
            }

            .squaredTwo label:hover::after {
                filter: alpha(opacity=30);
                opacity: 0.3;
            }

            .squaredTwo input[type=checkbox]:checked + label:after {
                filter: alpha(opacity=100);
                opacity: 1;
            }

            input, p {
                @include coinStyle;
                background-color: darken($white, 10%);
                color: black;
                border: 0;
                border-left: 0.1rem solid $main-dark; 
                width: 100%;
                height: 2rem;
                padding: 0;

                &:first-of-type {
                    border-bottom-left-radius: 0; 
                }
    
                &:last-of-type {
                    border-bottom-right-radius: 0; 
                }

                &:focus {
                    outline: none;
                    border:1px solid $main-light;
                    box-shadow: 0 0 1rem $sec-light;
                    font-size: 1.5rem;
                }

                
            }

            p {
                background-color: darken($white, 30%);
            }
        }

        .addButton {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;

            input, button {
                @include buttonStyling;
                color: black;
                background-color: darken($white, 10%);
                box-shadow: 0 0 0.2rem $main-dark;
                font-size: 1rem;
                font-weight: 400;
                margin-inline: 2rem;

                &:hover {
                    cursor: pointer;
                    color: $main-light;
                    background-color: $white;
                }
                
                &:active {
                    background-color: darken($white,10%);
                }
            }
        }
    }
}

